<div class="metric-card-wrapper">
    <p class="h4">Micro-Improvement Program</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container>
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of microImprovementMetricsData">
                <!--<app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip">
                </app-metric-card>-->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Micro Improvement Program" class="tab-first">
            <div class="grid grid-cols-1" *ngIf="MicroProgramStatsByLocation">
                <div class="col">
                    <app-filter-panel></app-filter-panel>
                    <br>
                    <app-map-my-india [data]="MicroProgramStatsByLocation"></app-map-my-india>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Running Micro Improvement ">
            <div class="grid grid-cols-1">
                <div class="col">
                    <app-filter-panel></app-filter-panel>
                    <br>
                    <app-map-my-india [data]="microimproveStateData"></app-map-my-india>
                    
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>