<div class="metric-card-wrapper">
    <p class="h4">NAS</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container *ngIf="NASMetrics">
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of NASMetrics">
                <app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></app-metric-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Student Performance">
            <div class="grid grid-cols-1 mt-12">
                <div class="col">
                    <app-map-my-india [data]="NASProgramStatsByLocation"></app-map-my-india>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Grade and Subject performance">
        </mat-tab>
    </mat-tab-group>
</div>
    
