<div class="grid grid-cols-12">
    <div class="col-span-full" appFullScreen>
        <!-- <div class="grid grid-cols-12 button-right">
            <app-download-button [data]="pmPoshanStateData?.data" fileName="PM_Poshan_Progress_Status" [reportType]="'map'"></app-download-button>
        </div> -->
        <div class="grid grid-cols-12">
            <div class="xs:col-span-full xmd:col-span-5">
                <app-level-n-metric-filter-panel [levels]="levels" (selectLevel)="onSelectLevel($event)"></app-level-n-metric-filter-panel>
            </div>
            <div class="xs:col-span-full xmd:col-span-7">
                <app-filter-panel [filters]="filters" colSize="col-span-6 4k:col-span-3" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
            </div>
        </div>
        <div class="grid grid-cols-12">
            <div class="xs:col-span-full">
                <app-leaflet-map [mapData]="reportData"></app-leaflet-map>
            </div>
            <!-- <div class="xs:col-span-full xmd:col-span-4">
                <app-gauge-chart [options]="options"></app-gauge-chart>
            </div> -->
        </div>
    </div>
</div>
