.metric-card {
    box-shadow: 0 0 5px #ddd;
    background: #fff;

    .metric-card-title {
        height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        .card-value {
            height: 2rem
        }
}
