<div class="container-fluid">
    <div class="row reportHeader">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row" (window:resize)="onResize()">
          <div class="col-xl-6 col-md-12 col-sm-12">
            <div *ngIf="all">
              <p id="dist">
                {{ header }} Content Usage:
                <span (click)="default()" style="cursor: pointer; text-decoration: underline" class="selected-level">{{
                  state }}</span>
              </p>
            </div>
            <div *ngIf="dist">
              <p id="block">
                {{ header }} Content Usage:
                <span (click)="default()" style="cursor: pointer; text-decoration: underline">{{ state }}</span>
                <span> | </span><span (click)="districtWise(districtId)"
                  style="cursor: pointer; text-decoration: underline" class="selected-level">
                  {{ hierName }}</span>
              </p>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-sm-3 col-lg-2" *ngIf="reportData.length == 0">
                <p id="errMsg" class="note"></p>
              </div>
  
              <span id="rawDownload" class="note" class="col-sm-3 col-lg-4"
                style="cursor: pointer; float: right; margin: 8px 20px 0px 0px; text-decoration: underline;"
                *ngIf="reportData.length > 0" (click)="downloadRawFile()"><strong>Download Raw
                  File</strong></span>
  
              <div class="col-sm-6 mb-4 col-lg-6">
                <button *ngIf="reportData.length > 0" class="btn btn-primary" title="Download Report" id="download1"
                  (click)="downloadReport()" style="float: right">
                  Download Report &nbsp;
                  <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-sm-12">
            <p class="report-subtitle">
              <strong> About the dashboard:</strong> The dashboard provides
              information on the total content plays at the content level for the
              Energised Textbooks at the district level.
            </p>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-2">
            <div class="grid grid-cols-12 gap-4 col-span-12 xmd:col-span-11" style="margin-bottom: 10px">

                <ng-select class="col-span-6 xmd:col-span-3 lg:col-span-2" id="time_range"
                    [(ngModel)]="timePeriod" name="timePeriod" (change)="timeRange(timePeriod)"
                    dropdownPosition="bottom" [clearable]="false" placeholder="Choose Time Range">
                    <ng-option *ngFor="let time of timeDetails" [value]="time.timeRange" style="font-size: 11px">
                        {{ time.name }}
                    </ng-option>
                </ng-select>

                <ng-select class="col-span-6 xmd:col-span-3 lg:col-span-2" id="choose_dist"
                    [(ngModel)]="districtId" [hidden]="!hideAccessBtn" (change)="districtWise(districtId)"
                    dropdownPosition="bottom" [clearable]="false" placeholder="Choose a District">
                    <ng-option *ngFor="let dist of districtsDetails" [value]="dist.district_id"
                        style="font-size: 11px">
                        {{ dist.district_name }}
                    </ng-option>
                </ng-select>
            </div>
        </div>
      </div>
    </div>
    <div class="row reportContainer">
      <div *ngIf="!showError" class="col-sm-12 dataTableCustom" [ngStyle]="{
          fontSize:
            height > 1760
              ? '34px'
              : height > 1160 && height < 1760
              ? '25px'
              : height > 667 && height < 1160
              ? '14px'
              : '11px'
        }">
        <table #DataTable id="table" class="display nowrap" width="100%" style="text-align: center"></table>
      </div>
      <div *ngIf="showError" style="position: absolute; left: 40%; top: 120px;color: red;">
      Do not have permission to see this report
      </div>
    </div>
  </div>
  <div id="spinner">
    <div class="loading">Loading&#8230;</div>
  </div>
  
  <div *ngIf="waterMark === 'true'" id='demoLogoConatiner'>
    <span><span>Test Data, Not Representative</span>
      <span style="margin-left:50px">Test Data, Not Representative</span></span><br>
  
  </div>