---
- name: Creating nifi_queries directory
  file:
    path: "{{ base_dir }}/cqube/nifi/{{ item }}"
    state: directory
  with_items:
    - nifi_queries
    - nifi_templates
    - nifi_json_files
  tags: [ install, update ]

- name: Copying the cQube_data_storage nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/cQube_data_storage/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - cQube_data_storage.xml
  tags: [ install, update ]


- name: Copying the static nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/static/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - static_data_transformer.xml
  tags: [ install, update ]

- name: Copying the diksha nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/diksha/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - diksha_transformer.xml
    - diksha_transformer_custom.xml
  tags: [ install, update ]    
    
- name: Copying the validation nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/validate_datasource/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - validate_datasource.xml
  tags: [ install, update ]

- name: Copying the configurable datasource nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/configurable_datasource/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - configurable_datasource.xml
  tags: [ install, update ]

- name: Copying the transaction_and_aggregation nifi templetes to nifi directory
  copy:
    src: ../../processing/datasource/transaction_and_aggregation/nifi/{{ item }}
    dest: "{{ base_dir }}/cqube/nifi/nifi_templates/{{ item }}"
    mode: "0644"
  with_items:
    - transaction_and_aggregation.xml
  tags: [ install, update ]
    
- name: Touch a file
  file:
    path: "{{ base_dir }}/cqube/emission_app/python/nifi_env_db.py"
    state: touch
    mode: u+rw,g+rw,o+rw
  tags: install

- name: Loading required data inside nifi_env_db.py file
  blockinfile:
        path: "{{ base_dir }}/cqube/emission_app/python/nifi_env_db.py"
        block: |
               db_name= "{{ db_name }}"
               db_user= "{{ db_user }}"
               db_pwd= "{{ db_password }}"
               nifi_port= "{{ nifi_port }}" 
  tags: install

- name: Delete existing templates in nifi
  become: yes
  file:
    path: "{{ base_dir }}/cqube/nifi/nifi/conf/flow.xml.gz"
    state: absent
  tags: [ install, update ]

- name: Searching nifi-elasticsearch lib files
  find:
    paths: "{{ base_dir }}/cqube/nifi/nifi/lib"
    patterns: "nifi-elasticsearch*"
  register: files_to_delete
  tags: [ install, update ]

- name: Deleting nifi-elasticsearch lib files
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ files_to_delete.files }}"
  tags: [ install, update ]

- name: Restart NiFi
  shell: "nohup {{ base_dir }}/cqube/nifi/nifi/bin/nifi.sh restart"
  tags: [ install, update ]

- pause:
    minutes: 3
    prompt: "nifi is restarting, kindly do not press any key"
  tags: [ install, update ]

- name: checking for nifi port, waiting until it starts... 
  wait_for:
    port: "{{ nifi_port }}"
    delay: 15
  tags: [ install, update ]

- name: Get configuration details
  uri:
    url: http://localhost:{{ nifi_port }}/nifi-api/controller/config
    method: GET
  register: nifi_config  
  tags: [ install, update ]
    
- name: Update the NiFi thread count
  uri:
    url: http://localhost:{{ nifi_port }}/nifi-api/controller/config
    method: PUT
    body_format: json
    body: {"revision":{"version":"{{ nifi_config.json.revision.version }}"},"component":{"maxTimerDrivenThreadCount":"10","maxEventDrivenThreadCount":"6"}}
  tags: [ install, update ]

- name: Create the prometheus task
  uri:
    url: http://localhost:{{ nifi_port }}/nifi-api/controller/reporting-tasks
    method: POST
    body_format: json
    status_code: 201
    body: {"revision":{"clientId":"","version":0},"disconnectedNodeAcknowledged":false,"component":{"type":"org.apache.nifi.reporting.prometheus.PrometheusReportingTask","bundle":{"group":"org.apache.nifi","artifact":"nifi-prometheus-nar","version":"1.12.1"}}}
  register: output
  tags: [ install, update ]

- name: Start the prometheus task
  uri:
    url: http://localhost:{{ nifi_port }}/nifi-api/reporting-tasks/{{ output.json.component.id }}
    method: PUT
    body_format: json
    body: '{"component":{"id":"{{ output.json.component.id }}","name":"PrometheusReportingTask","schedulingStrategy":"TIMER_DRIVEN","schedulingPeriod":"30 sec","comments":"","state":"RUNNING","properties":{"prometheus-reporting-task-metrics-send-jvm":"true"}},"revision":{"clientId":"{{ output.json.revision.clientId }}","version":"{{ output.json.revision.version }}"},"disconnectedNodeAcknowledged":false}'
  tags: [ install, update ]  

