$light-grey: #eee;

::ng-deep {
    .mat-table {
        border: 1px solid rgba(0,0,0,.12);
    }

    tr.mat-row, tr.mat-footer-row {
        height: 40px !important;
    }

    tr.mat-header-row {
        background-color: $light-grey;
    }
}
