.active:focus{
    background-color: rgb(7 89 133);
    color: white;
    box-shadow: none;
}

.active:focus{
    box-shadow: none;
}
.activeLink {
    background-color: var(--cQ-theme-bg-shade);
    border-radius: 2rem;
}
.menuIcon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

::ng-deep .mat-tooltip
{
    background-color: white !important;
    color: black !important;
    font-size: 12px;
    text-transform: capitalize;
}