<div class="grid grid-cols-12">
    <div class="col-span-full" appFullScreen>
        <div class="grid grid-cols-12 button-right">
            <app-download-button [data]="tableData?.data" [fileName]="fileName" [reportType]="'table'"></app-download-button>
        </div>
        <app-filter-panel [filters]="filters" colSize="md:col-span-3 xs:col-span-12 xmd:col-span-4 4k:col-span-2" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
        <app-material-heat-chart-table [tableData]="tableData" class="nisithaTable"></app-material-heat-chart-table>
    </div>
</div>