<div class="metric-card-wrapper">
    <p class="h4">NCERT Quiz</p>
    <div class="grid gap-4 cQ-Grid">
        <ng-container *ngIf="quizzesMetricsData">
            <div class="" *ngFor="let metric of quizzesMetricsData">
                <!--<app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip">
                </app-metric-card>-->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Implementation Status" *ngIf="NVSK">
            <app-implementation-status></app-implementation-status>
        </mat-tab>
        <mat-tab label="Participation Status">
            <div class="grid grid-cols-1">
                <div class="col">
                    <div class="grid grid-cols-12">
                        <div class="col-span-full" appFullScreen>
                            <app-filter-panel [filters]="filters" colSize="col-span-4" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
                            <app-leaflet-map [mapData]="quizzesStateData"></app-leaflet-map>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Quiz wise Status">
            <app-states-started-table></app-states-started-table>
        </mat-tab>
    </mat-tab-group>
</div>