<div class="grid gap-2 grid-cols-12 mt-8 bg-white">
    <div class="xs:col-span-full xmd:col-span-5 md:col-span-5">
        <app-leaflet-map [mapData]="ETBProgramStatsByLocation"></app-leaflet-map>
    </div>
    <div class="xs:col-span-full xmd:col-span-7 md:col-span-7 justify-self-end">
        <div class="grid gap-2 grid-cols-3">
            <div class="col-span-2">
                <app-bar-chart title="" [options]="barChartOptions"></app-bar-chart>
            </div>
            <div class="col-span-1">
                <app-gauge-chart [options]="gaugeChartOptions"></app-gauge-chart>
            </div>
        </div>
    </div>
</div>
