<div class="report-wrapper">
    <div class="report-name text-center">
        {{bigNumberReportData?.reportName}}
    </div>
    <div class="average-wrapper">
        <h1 class="average-percentage">{{averagePercentage + this.valueSuffix}}</h1>
    </div>
    <div class="difference-wrapper">
        <div *ngIf="differenceInPercentage !== undefined">
            <h4 class="difference-percentage">{{differenceInPercentage + this.valueSuffix}}</h4>
        </div>
        <div [ngSwitch]="differenceIndicator">
            <div *ngSwitchCase="true">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
            <div *ngSwitchCase="false">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </div>
            <div *ngSwitchDefault>
                <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    
</div>