
<section class="text-white app-footer-bar">
    
    <div class="footer">
        <img src="../../../../assets/images/NIC.png" alt="NIC Image" class="mx-auto grid:col-span-3 grid"><script src=""></script>
        <div>
            <p class="data col-span-1">Data updated as of July 1st, 2022</p>
            <div class="text-center p-4 col-span-2">
                Copyright ©  2022
                National Information Centre All Rights Reserved
                </div>
        </div>
            
    </div>
</section>