<div class="metric-card-wrapper">
    <p class="h4">Courses</p>
    <div class="grid gap-4 cQ-Grid">
        <!-- <ng-container>
            <div class="" *ngFor="let metric of nipunBharathMetrics">
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container> -->
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" [selectedIndex]="tabIndex" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Usage by Course">
            <app-courses-bar-chart *ngIf="tabIndex === 0"></app-courses-bar-chart>
        </mat-tab>
        <mat-tab label="Usage by Course Content">
            <app-usage-by-course-content *ngIf="tabIndex === 1"></app-usage-by-course-content>
        </mat-tab>
        <mat-tab label="Course Progress">
            <app-course-progress *ngIf="tabIndex === 2"></app-course-progress>
        </mat-tab>
        <mat-tab label="User Progress">
            <app-user-progress *ngIf="tabIndex === 3"></app-user-progress>
        </mat-tab>
        <mat-tab label="GPS of learning">
            <app-gps-of-learning *ngIf="tabIndex === 4"></app-gps-of-learning>
        </mat-tab>
        <mat-tab label="User Engagement">
            <app-average-time-spend-bar *ngIf="tabIndex === 5"></app-average-time-spend-bar>
        </mat-tab>
        <mat-tab label="User Onboarding">
            <app-user-onboarding *ngIf="tabIndex === 6"></app-user-onboarding>
        </mat-tab>
    </mat-tab-group>
</div>