@media(max-width: 768px) {
    ::ng-deep{
        .highcharts-container {
            height: 300px !important;
            width: 500px;
            overflow-y: scroll;
            overflow-x: scroll;
            margin-left:-100px
        }
    }
}
