<div class="grid grid-cols-1">
    <div class="col">
        <div class="col" *ngIf="isMapReport1Loading">
            <p class="mt-8">Loading...</p>
        </div>
        <div class="grid grid-cols-12"  *ngIf="implementationStatusData">
            <div class="col-span-full" appFullScreen>
                <div class="grid grid-cols-12 button-right">
                    <app-download-button [data]="implementationStatusData?.data" [fileName]="fileName" [reportType]="'map'"></app-download-button>
                </div>
                <app-leaflet-map [mapData]="implementationStatusData"></app-leaflet-map>
            </div>
        </div>                    
    </div>
</div>
