<div class="col">
    <div class="grid grid-cols-12">
        <div class="col-span-full" appFullScreen>
            <div class="grid grid-cols-12 button-right">
                <app-download-button [data]="ETBStateData?.data" fileName="ETB_Entry_Status" [reportType]="'map'"></app-download-button>
            </div>
            <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
            <app-leaflet-map [mapData]="ETBStateData"></app-leaflet-map>
        </div>
    </div>
</div>
<div class="col" *ngIf="isMapReportLoading">
    <p class="mt-8">Loading...</p>
</div>