/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@ng-select/ng-select/themes/material.theme.css";
@import './assets/styles/styles.scss';
@import '~@project-sunbird/sb-themes/themes/theme-cqube.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif;}

body {
    &:before {
        background: url('assets/images/Union.svg');
        background-repeat: no-repeat;
}
}

.button-grp, #download1{
    align-items: center;
}

.container-fluid{
    overflow-y: hidden !important;
}


.legends {
    width: 85%;
    height: 4.5vh;
    font-size: 11px;
    margin: 0.4vh 0.4vh 0.4vh 0vh;
    padding-top: 0.7vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}


.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
    background: -webkit-radial-gradient( rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    display: block;
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.header-center{
    display: flex;
    align-items: center;
}

:root {
    /* Colors */
  
    --theme-bg-header-color:#fff;
    --theme-bg-sidenav-color:#FFC400;
    --theme-bg-container-color: #ffebcc;
    --theme-text-color: #000;
    --theme-dark-button-color: #0C54C6;
    --theme-button-border-color: #0C54C6;
    --theme-back-button-color: #dcdcdc;
    --theme-back-button-border-color: #dcdcdc;
    --theme-report-button-color: rgb(152, 160, 163);
    --theme-bg-sidenav-user-info:#FFE07B;
    --theme-report-heading-color: #000;
    --theme-access-progress-card-btn-color: #0545a5;
    --theme-download-btn-color: #0545a5;
    --theme-report-selected-level-color: #777;
    --theme-icon-color: #000;
    --theme-report-header-bg-color : #ffebcd;
  }

  .selected-level{
    color: var(--theme-report-selected-level-color) !important;
}

.loading:not(:required):after {
    content: "";
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#footer {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #727374;
    padding: 2px;
    bottom: 0;
    left: 14px;
    z-index: 999 !important;
    margin-top: 0.3%;
}

::ng-deep {
    .ng-has-value .ng-placeholder, .ng-select-opened .ng-placeholder{
        position:absolute !important;
    }

    .ng-placeholder{
        position: relative !important;
    }
    .ng-select{
        overflow: visible !important;
    }

    .ng-has-value .ng-arrow {
        //border-color: white transparent transparent !important;
    }

    .ng-option-disabled {
        opacity: 0.6;
    }

    .ng-option {
        //background-color: #004e9d !important;
        //color: white !important;
    }

    .ng-has-value {
        //background-color: #004e9d !important;
        //color: white !important;
    }

    .ng-select-container {
        border-radius: 10px !important;
        border-color: #004e9d !important;
    }

    .ng-placeholder {
        //color: #004e9d;
        color: #999;
        font-size: 0.8rem;
    }

    .ng-dropdown-panel.ng-select-bottom {
        width: auto;
        min-width: 100%;
    }
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollBody {
    max-height: 50vh !important;
    font-size: 12px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead {
    font-size: 12px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank {
    height: 70px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator {
    min-width: 150px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th {
    min-width: 30px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollBody .indicator {
    min-width: 150px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead table thead .sorting {
    background-size: 15px 15px !important;
}
#dist, #block, #cluster, #school, .note{
    margin-bottom: 20px;
}

#dist,
#block,
#cluster,
#school,
#heading {
    color: var(--theme-report-heading-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 5px;
}

#errMsg {
    text-align: center;
    line-height: 1.2em;
    font-size: 12px;
    margin-top: 3%;
}

#download {
    cursor: pointer;
    float: right;
    margin: .5vh 0px 0px 8px;
    height: 30px;
    width: 30px;
}

#outer {
    border-radius: 15px;
    background-color: #f5f6fb;
    height: 23px;
    width: 150px;
    border: 1px solid gray;
    font-size: 12px;
    font-weight: bold;
}

#absolute {
    border-radius: 15px;
    height: 21px;
    width: 50%;
    float: left;
    cursor: pointer;
}

#relative {
    border-radius: 15px;
    height: 21px;
    width: 50%;
    float: left;
    cursor: pointer;
}