<p class="h3 font-weight-bold mb-0">Dashboard</p>
<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 xs:gap-y-6 md:gap-y-16 dashboard 4k:grid-cols-4 4k:gap-8" *ngIf="dashboardMenu">
   <ng-container *ngFor="let menuInfo of dashboardMenu">
      <!--<app-dashboard-card [cardInfo]="menuInfo" (onClick)="onClickOfDashboardItem($event)"></app-dashboard-card> -->
      <sb-cqube-program-card [cardInfo]="menuInfo" (onProgramClick)="onClickOfDashboardItem($event)"></sb-cqube-program-card>
   </ng-container>
</div>
