<div class="metric-card-wrapper">
    <p class="h4">School Infrastructure</p>
    <div class="grid gap-4 cQ-Grid">
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Semester Assessment Test">
            <app-sat-map *ngIf="tabIndex === 0"></app-sat-map>
        </mat-tab>
        <mat-tab label="Semester Assesment Test Heat-chart">
            <app-sat-heatmap *ngIf="tabIndex === 1"></app-sat-heatmap>
        </mat-tab>
        <mat-tab label="Periodic Assesment Test">
            <app-pat-map *ngIf="tabIndex === 2"></app-pat-map>
        </mat-tab>
        <mat-tab label="Periodic Assesment Test Heat-chart">
            <app-pat-heatmap *ngIf="tabIndex === 3"></app-pat-heatmap>
        </mat-tab>
        <mat-tab label="Periodic Assesment Test LO-Table">
            <app-pat-lo *ngIf="tabIndex === 4"></app-pat-lo>
        </mat-tab>
    </mat-tab-group>
</div>