
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-6">
            <p class="h4">Attendance</p>
        </div>
        <div class="col-span-6 lg:col-start-10 lg:col-end-13">
            <app-management-selector (onSelect)="selected()"></app-management-selector>
        </div>
    </div>
</div>

<div class="tab-group-wrapper" *ngIf="loadTabs">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Student Attendance">
            <app-student-attendance *ngIf="tabIndex === 0" (switchToTrends)="switchToTrends()"></app-student-attendance>
        </mat-tab>
        <mat-tab label="Student Attendance New">
            <app-student-attendance-new *ngIf="tabIndex === 1" (switchToTrends)="switchToTrends()"></app-student-attendance-new>
        </mat-tab>
        <mat-tab label="Teacher Attendance">
            <app-teacher-attendance *ngIf="tabIndex === 2"></app-teacher-attendance>
        </mat-tab>
        <mat-tab label="Trends Chart">
            <app-sat-trends-report *ngIf="tabIndex === 3" (switchToAttendance)="switchToAttendance()"></app-sat-trends-report>
        </mat-tab>
    </mat-tab-group>
</div>
