<circle-progress [percent]="value" [radius]="radius" [toFixed]="1" [outerStrokeWidth]="outerStrokeWidth"
    [innerStrokeWidth]="innerStrokeWidth" [space]="space" [outerStrokeColor]="color" [innerStrokeColor]="'#D3D3D3'"
    [titleFontSize]="titleFontSize" titleFontWeight="700" [showSubtitle]="false" [animation]="true"
    [animationDuration]="800" [startFromZero]="false" [responsive]="true" [renderOnClick]="false">
</circle-progress>

<!-- [unitsFontSize]="40" -->
<!-- [unitsFontWeight]="20" -->