<div class="grid grid-cols-12">
   <div class="col-span-full" appFullScreen>
      <app-filter-panel [filters]="filters" colSize="md:col-span-3 xs:col-span-6 xmd:col-span-4" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
      <div class="grid gap-4 grid-cols-12">
         <div class="xs:col-span-full xmd:col-span-6">
            <app-stacked-bar title="" [options]="enrollmentTargetChartOptions"></app-stacked-bar>
         </div>
         <div class="xs:col-span-full xmd:col-span-6">
            <app-stacked-bar title="" [options]="certificateTargetChartOptions"></app-stacked-bar>
         </div>
      </div>
   </div>
</div>