<div class="report-wrapper" appFullScreen>
    <div class="container-fluid">
        <div class="row reportHeader">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-7 col-md-12 col-sm-12 ">
                        <div *ngIf='all'>
                            <p id="dist">
                                {{header}} Content Usage: <span (click)="homeClick()"
                                    style="cursor: pointer;text-decoration: underline;"
                                    class="selected-level">{{state}}</span></p>
                        </div>

                    </div>
                    <div class="col-xl-5 col-md-12 col-sm-12">
                        <div class="grid grid-cols-12">
                            <div class="col-span-2">
                                <p id="errMsg" class="note">
                                </p>
                            </div>

                            <span id="rawDownload" class="note col-span-4"
                                style="cursor: pointer; float: right; text-decoration: underline;"
                                *ngIf="reportData.length > 0" (click)="downloadRawFile()"><strong>Download Raw
                                    File</strong></span>

                            <div class="col-span-6 mb-4">
                                <button *ngIf="reportData.length>0" class="btn btn-primary" title="Download Report"
                                    id="download1" (click)="downloadReport()" style="float:right">Download Report &nbsp;
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="note">
                            <strong> About the dashboard:</strong> The dashboard provides information on the total
                            content
                            plays at
                            the textbook level for the Energised Textbooks at the district level.
                        </p>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-6 col-span-12 xmd:col-span-11" style="margin-bottom: 10px">

                    <ng-select class="col-span-6 xmd:col-span-3 lg:col-span-2" id="time_range" [(ngModel)]="timePeriod"
                        name="timePeriod" appendTo=".app-content" (change)="chooseTimeRange()" dropdownPosition="bottom"
                        [clearable]="false" placeholder="Choose Time Range">
                        <ng-option *ngFor="let time of timeDetails" [value]="time.id">
                            {{time.name}}
                        </ng-option>

                    </ng-select>

                    <ng-select appendTo=".app-content" class="col-span-6 xmd:col-span-3 lg:col-span-2" id="coll_name"
                        [(ngModel)]="collectionName" name="collectionName" (change)="getDataBasedOnCollections()"
                        dropdownPosition="bottom" [clearable]="false" placeholder="Choose Textbook Name">
                        <ng-option *ngFor="let collectionName of collectionNames; let i = index"
                            [value]="collectionNames[i]">
                            {{collectionNames[i]}}
                        </ng-option>
                    </ng-select>
                    <div class="lg:col-start-11 lg:col-end-13 xmd:col-start-7 col-span-12 df-flex">
                        <span id="totalCount"><strong>Total Content
                                Plays:</strong>
                            {{footer}}</span>
                    </div>



                </div>
                <!-- <div class="row">
                    <div class="col-sm-9 ">
                        <select >
                            <option [value]="timePeriod" disabled selected="selected">Choose Time Range
                            </option>
                           
                        </select>
    
                        <select id="coll_name" [(ngModel)]="collectionName" name="collectionName"
                            (change)="getDataBasedOnCollections()">
                            <option [value]="collectionName" disabled selected="selected">Choose Textbook Name
                            </option>
                            <option *ngFor="let collectionName of collectionNames; let i = index"
                                [ngValue]="collectionNames[i]">
                                {{collectionNames[i]}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <span id="totalCount" style="float: right;"><strong>Total Content
                                Plays:</strong>
                            {{footer}}</span>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row reportContainer" id="chart">
            <div class="col-lg-1">

            </div>
            <div *ngIf="!showError" class="col-lg-10" id="r1">
                <!-- <app-bar-chart *ngIf="chartData.length > 0" [category]="category" [data]="chartData"
                    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [reportName]="collection_type">
                </app-bar-chart> -->
                <ng-container *ngIf="data && chartData.length > 0">
                    <sb-dashlet type="horizontalBar" [data]="data" [config]="config"></sb-dashlet>
                </ng-container>
                <div id="errMsg" style="position: absolute; left: 40%; top: 120px;color: red; display: none;">
                    No Data Available
                </div>
            </div>
            <div *ngIf="showError" style="position: absolute; left: 40%; top: 120px;color: red;">
                Do not have permission to see this report
            </div>
        </div>
    </div>
    <div id="spinner">
        <div class="loading">Loading&#8230;</div>
    </div>

    <div *ngIf="waterMark === 'true'" id='demoLogoConatiner'>
        <span><span>Test Data, Not Representative</span>
            <span style="margin-left:50px">Test Data, Not Representative</span></span><br>

    </div>
</div>