<div class="dashboard-card shadow-2xl px-3 py-3 mx-auto md:grid-cols-6" *ngIf="cardInfo">
    <i class="fa fa-info-circle pull-right" aria-hidden="true" [matTooltip]="cardInfo.tooltip"
        matTooltipPosition="left"></i>
    <div class="dashboard-card-header pt-3 text-center">
        <div>
            <img class="mg-0" [src]="'assets/images/' + cardInfo.icon" class="px-32" alt="icon here">
        </div>
        <p class="h6 font-weight-bold card-title">{{cardInfo.title}}</p>
    </div>
    <div class="dashboard-card-body bg-light py-2">
        <div [ngClass]="isTextWrapIssueFix ? 'metrics-wrapper-height ' : 'metrics-wrapper'">
            <div class="metrics-wrapper">
                <div class="metric-wrapper mb-1" *ngFor="let metric of cardInfo.metrics">
                    <p class="metric-value text-center text-wrapper"
                        >{{metric.value}}</p>
                    <p class="metric-name text-center px-1"
                    [ngClass]="isTextWrapIssueFix ? 'text-wrapper-zoomin' : 'text-wrapper'" >{{metric.name}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="!len(cardInfo.metrics)">
            <p class="text-center">Access dashboard to</p>
            <p class="text-center">view details</p>
        </div>
        <div class="dashboard-card-footer p-2 ml-3 mb-1 mr-3 rounded-lg justify-content-around"
            (click)="onClick.emit(cardInfo)" [id]="'access-dashboard-'+cardInfo.title" name="">
            <h3 class="my-1 font-weight-bold" [ngClass]="isTextWrapIssueFix ? 'text-wrapper-zoomin' : 'text-wrapper'">
                Access Dashboard <i class="fa fa-arrow-right ml-3" aria-hidden="true"></i></h3>
        </div>
    </div>
</div>