<div class="bg-white border-gray-200 py-1 dark:bg-gray-800  app-nav-bar">
    <!--<div class="flex justify-between items-center xs:px-2 md:container md:mx-auto h-full">
        <div class="flex items-center">
           
            <img src="assets/images/MoE.png" class=" h-6 sm:h-9 left-logo" alt="MOI Logo" />
            
            <a href="https://www.education.gov.in/en" class="hidden" target="_blank">
                <img src="assets/images/moi_logo.png" class="mr-3 h-6 sm:h-9" alt="MOI Logo" />
            </a>
        </div>
        <div class="justify-between items-center md:flex" *ngIf="config == 'national'">
            <h1 class="font-medium leading-tight lg:text-4xl md:text-2xl xs:text-sm sm:text-1xl mt-0">NDEAR VIDYA SAMIKSHA KENDRA</h1>
        </div>
        <div class="justify-between items-center md:flex" *ngIf="config == 'state'">
            <h1 class="font-medium leading-tight lg:text-4xl md:text-2xl xs:text-sm sm:text-1xl mt-0">VIDYA SAMIKSHA KENDRA</h1>
        </div>
        <div class="d-flex justify-between items-center h-full">
            <img src="assets/images/NCERT_logo-01.png" class="h-full logo" alt="NCERT Logo">
            
            <div *ngIf="!national">
                <img src="../../../../assets/images/user.png" class="user-icon ml-5" (mouseover)="onMouseOver()"
                    (mouseout)="onMouseOut()">
                <div *ngIf="dropdown" class="dropdown" (mouseover)="withinTime = true;" [@fadeInOut] (mouseout)="onMouseOut()">
                    <a href="#" (click)="logout()"> logout</a>
                </div>
            </div>

        </div>

    </div>-->
    <div class="flex">
        <div class="headerSideWidth">
            <div class="flex items-center bg-white justify-between">
                <img src="assets/images/{{environment.content_header_image_1}}" class="h-8 sm:h-11 left-logo" alt="MOI Logo" />
                <img src="assets/images/{{environment.content_header_image_2}}" class="h-full logo" alt="NCERT Logo" *ngIf="environment.content_header_image_2 && environment.content_header_image_2 !== ''">
                
                
                <a href="https://www.education.gov.in/en" class="hidden" target="_blank">
                    <img src="assets/images/moi_logo.png" class="mr-3 h-6 sm:h-9" alt="MOI Logo" />
                </a>
            
            </div>
        </div>
        <div class="mainHeaderContent d-flex justify-between items-center h-full px-2"> 
            <div class="justify-left items-center md:flex" *ngIf="national">
            <h1 class="font-medium leading-tight lg:text-4xl md:text-2xl xs:text-sm sm:text-1xl mt-0">NDEAR VIDYA SAMIKSHA KENDRA</h1>
            </div>
            <div class="justify-left items-center md:flex" *ngIf="!national">
                <h1 class="font-medium leading-tight lg:text-4xl md:text-2xl xs:text-sm sm:text-1xl mt-0">{{stateName}} - VIDYA SAMIKSHA KENDRA (VSK)</h1>
            </div>
            <div class="">
                
                <div *ngIf="!national">
                    <!-- <img src="../../../../assets/images/user.png" class="user-icon ml-5" (mouseover)="onMouseOver()"
                        (mouseout)="onMouseOut()"> -->
                    <div *ngIf="dropdown" class="dropdown" (mouseover)="withinTime = true;" [@fadeInOut] (mouseout)="onMouseOut()">
                        <a href="#" (click)="logout()" id="logout" name="logout"> logout</a>
                    </div>
                </div>
    
            </div>
        </div>
        
        
        
        
      </div>
    </div>