.downloadRaw
{
  font-weight: 500 !important;
  color:#3100cc !important;
  cursor: pointer;
  text-decoration: underline;
  
}

.ds-flex
{
  display: flex;
  justify-content: center;
  align-items: center;
}