<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-6">
            <p class="h4">Progress Card</p>
        </div>
        <div class="col-span-6 lg:col-start-10 lg:col-end-13">
            <app-management-selector (onSelect)="selected()"></app-management-selector>
        </div>
    </div>
</div>

<div class="tab-group-wrapper" *ngIf="loadTabs">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Progress Card">
          
            <app-progress-card *ngIf="tabIndex === 0"></app-progress-card>
        </mat-tab>
       
    </mat-tab-group>
</div>