<div class="grid grid-cols-4 py-10 w-10/15 container ">
    <div class="col-span-4">
        <img src="../../../../../assets/images/etbimage.jpeg" class="image" alt="etb image ">
    </div>
    <div class="col-span-1 py-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center py-2 text-blue-600">Toatal page Views</div>
                <p class="text-gray-700 text-base text-center">
                    24.8B
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-1 py-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center py-2 text-blue-600">Total ETB</div>
                <p class="text-gray-700 text-base text-center">
                    6,217
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-1 py-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center py-2 text-blue-600">State ETB</div>
                <p class="text-gray-700 text-base text-center">
                    3,898
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-1 py-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-center py-2 text-blue-600">Total Languages
                </div>
                <p class="text-gray-700 text-base text-center">
                    36
                </p>
            </div>
        </div>
    </div>


    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center text-blue-600" >Total ETB Plays (Apr 2020 till date)
                </div>
                <p class="text-gray-700 text-base text-center">
                    335.9M
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg text-blue-600">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center py-2">Average ETB Plays (Apr 2020 till date)
                </div>
                <p class="text-gray-700 text-base text-center">
                    417.2K
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center py-2 text-blue-600">Total Contents
                </div>
                <p class="text-gray-700 text-base text-center">
                    270,361
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center py-2 text-blue-600">Total Content Plays
                </div>
                <p class="text-gray-700 text-base text-center">
                    3.6B
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center py-2 text-blue-600" >App downloads (till 2021)
                </div>
                <p class="text-gray-700 text-base text-center">
                    33.3M
                </p>
            </div>
        </div>
    </div>

    <div class="col-span-2 py-4">

        <div class="max-w-sm rounded overflow-hidden shadow-lg ">
            <div class="px-6 py-4">
                <div class="font-bold  mb-2 text-center py-2 text-blue-600">Total QR Scans
                </div>
                <p class="text-gray-700 text-base text-center">
                    101.5M
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="col-span-2 card">
        <table mat-table [dataSource]="tableData" matSort #etbTbSort="matSort">
            <ng-container matColumnDef="ETB Coverage">
                <th mat-header-cell *matHeaderCellDef> ETB Coverage</th>
                <td mat-cell *matCellDef="let element"> {{element['ETB Coverage']}} </td>
            </ng-container>

            <ng-container matColumnDef="ETB Coverage %">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ETB Coverage % </th>
                <td mat-cell *matCellDef="let element"> {{element['ETB Coverage %']}} </td>
            </ng-container>

            <ng-container matColumnDef="State Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State Name</th>
                <td mat-cell *matCellDef="let element"> {{element['State Name']}} </td>
            </ng-container>

            <ng-container matColumnDef="State energised (ETB)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State energised (ETB)</th>
                <td mat-cell *matCellDef="let element"> {{element['State energised (ETB)']}} </td>
            </ng-container>

            <ng-container matColumnDef="Total Energised (Live ETB)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Energised (Live ETB)</th>
                <td mat-cell *matCellDef="let element"> {{element['Total Energised (Live ETB)']}} </td>
            </ng-container>

            <ng-container matColumnDef="Total Live TB">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Live TB</th>
                <td mat-cell *matCellDef="let element"> {{element['Total Live TB']}} </td>
            </ng-container>

            <ng-container matColumnDef="Total Physical textbooks excluding adopted (Curriculum+Supplementary)">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Physical textbooks excluding adopted
                    (Curriculum+Supplementary)</th>
                <td mat-cell *matCellDef="let element"> {{element['Total Physical textbooks excluding adopted
                    (Curriculum+Supplementary)']}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div> -->

</div>