<div class="metric-card-wrapper">
    <p class="h3"><b>National Curriculum Framework</b> <small><em> (NCF)</em></small></p>
    <div class="grid gap-4 cQ-Grid">
        <ng-container *ngIf="NCFMetrics">
            <div class="" *ngFor="let metric of NCFMetrics">
                <!--<app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip">
                </app-metric-card>-->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Progress Status" class="tab-first">
            <div class="grid grid-cols-1" *ngIf="ncfProgressData">
                <div class="col">
                    <div class="grid grid-cols-12" *ngIf="!isMapReportLoading; else loading">
                        <div class="col-span-full">
                            <div class="grid grid-cols-12" appFullScreen>
                                <div class="grid grid-cols-12 col-span-full button-right">
                                    <app-download-button [data]="ncfProgressData?.data" fileName="NCF_Progress_Status" [reportType]="'map'"></app-download-button>
                                </div>
                                <div class="xs:col-span-full xmd:col-span-8 4k:col-span-4">
                                    <app-level-n-metric-filter-panel [metricFilter]="metricFilter" (selectMetricFilter)="onSelectMetricFilter($event)"></app-level-n-metric-filter-panel>
                                </div>
                                <div class="col-span-full">
                                    <app-leaflet-map [mapData]="ncfProgressData"></app-leaflet-map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #loading>
                        <p class="mt-8">Loading...</p>
                    </ng-template>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>