
<section class="text-white app-footer-bar">
    
    <div class="footer">
        <img src="../../../../assets/images/NIC.png" alt="NIC Image">
        <div class="grid grid-cols-12">
            <p class="data xmd:col-span-4 xmd:py-4 py-1 px-2 col-span-full" *ngIf="lastModified">Data updated as of {{ lastModified | date: 'dd MMM, YYYY' }}</p>
            <div class="copyright xmd:py-4 py-1 px-2 xmd:col-span-8 col-span-full">
                Copyright ©  2022
                National Information Centre All Rights Reserved
            </div>
        </div>
            
    </div>
</section>