.example-container {
 
    overflow: auto;
  }
  
table {
    width: 50%;
    margin-left: 50%;
  }

  th {
    background-color: rgb(189, 189, 189)
  }

  .center{
    background-color: antiquewhite;
    margin-top: -7px;
  }

.left{
  margin-left: 90%;
  margin-top: -10px;
  
}
