<div class="report-wrapper" appFullScreen>
    <div class="container-fluid">
        <div class="row reportHeader">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xl-7 col-md-12 col-sm-12 ">
                        <div *ngIf='skul'>
                            <p id="dist">
                                Report on User Engagement: <span (click)="clickHome()"
                                    style="cursor: pointer;text-decoration: underline;"
                                    class="selected-level">{{state}}</span></p>
                        </div>
                        <div *ngIf='dist'>
                            <p id="block">
                                Report on User Engagement: <span (click)="clickHome()"
                                    style="cursor: pointer;text-decoration: underline;">{{state}}</span> <span> |
                                </span><span style="cursor: pointer;text-decoration: underline;" class="selected-level">
                                    {{distName}} </span> </p>
                        </div>


                    </div>
                    <div class="col-xl-5 col-md-12 col-sm-12">
                        <div class="grid grid-cols-1">
                            <div class="col-span-1" style="display: none;">
                                <p id="errMsg" class="note">
                                </p>
                            </div>

                            <div class="col-start-2 mb-4">
                                <button *ngIf="reportData.length>0" class="btn btn-primary" title="Download Report"
                                    id="download1" (click)="downloadReport()" style="float:right">Download Report &nbsp;
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <p class="note">
                            <strong> About the dashboard:</strong> The dashboard provides insights on user engagement
                            for
                            various courses for {{state}}
                        </p>
                    </div>
                </div>
                <div class="grid grid-cols-12 gap-4 col-span-12 xmd:col-span-11" style="margin-bottom: 10px">


                    <ng-select class="col-span-6 xmd:col-span-3 lg:col-span-2" id="choose_district"
                        [(ngModel)]="selectedDist" [hidden]="!hideIfAccessLevel" (change)="onDistSelected(selectedDist)"
                        dropdownPosition="bottom" [clearable]="false" placeholder="Choose a District">
                        <ng-option *ngFor="let dist of distToDropDown" [value]="dist.district_id">
                            {{ dist.district_name }}
                        </ng-option>
                    </ng-select>


                </div>
                <!-- <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-12 ">
                        <select id="choose_district" [(ngModel)]="selectedDist" [hidden] = "!hideIfAccessLevel" (change)="onDistSelected(selectedDist)">
                            <option [value]="selectedDist" disabled selected="selected">
                                Choose a District
                            </option>
                            <option *ngFor="let dist of distToDropDown" [ngValue]="dist.district_id">
                                {{ dist.district_name }}
                            </option>
                        </select>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row reportContainer" style="width: 100%;" id="chart">
            <div *ngIf="!showError" class="col-lg-11">

                <!-- <app-bar-chart *ngIf="chartData.length > 0" [category]="catgory" [data]="chartData"
                    [reportName]="reportName" [xData]='tooltipData' [xAxisLabel]="xAxisLabel">
                </app-bar-chart> -->
                <ng-container *ngIf="dashletData && chartData.length > 0">
                    <sb-dashlet type="horizontalBar" [data]="dashletData" [config]="config"></sb-dashlet>
                </ng-container>
                <div *ngIf="chartData.length === 0" class="text-center" style="color: red;">
                    No Data Available
                </div>
            </div>
            <div *ngIf="showError" class="text-center" style="color: red;">
                Do not have permission to see this report
            </div>
        </div>


    </div>
    <div id="spinner">
        <div class="loading">Loading&#8230;</div>
    </div>

    <div *ngIf="waterMark === 'true'" id='demoLogoConatiner'>
        <span><span>Test Data, Not Representative</span>
            <span style="margin-left:50px">Test Data, Not Representative</span></span><br>

    </div>
</div>