.app-nav-bar {
    height: $app-nav-bar-height;
    box-shadow: 0 1px 3px #aaa;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background: #fff;
}

.app-side-nav {
    margin-top: calc(10px + #{$app-nav-bar-height});
    height: calc(100vh - #{$app-nav-bar-height});
    width: $app-side-nav-width;
    box-shadow: 1px 3px 5px #aaa;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    background: #fff;

    .menu {
        .menu-item {
            padding: 10px;
            border-bottom: 1px solid #eee;
            cursor: pointer;
        }
    }
}

.app-content-wrapper {
    padding-top: $app-nav-bar-height;
    padding-left: $app-side-nav-width;

    .app-content {
        padding: 1.5rem;
    }
}

@screen max-xmd {
    .app-side-nav {
        display: none;
    }

    .app-content-wrapper {
        padding-left: 0;
    }

    .app-content {
        padding: 1rem 0.5rem !important;
    }
}
