<!-- <router-outlet></router-outlet> -->

<div class="metric-card-wrapper">
    <p class="h4">Nishtha</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container>
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of NisithaMetrics">
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Program Status" *ngIf="NVSK">
            <div class="grid grid-cols-1">
                <div class="col">
                    <app-nishtha-program-detail></app-nishtha-program-detail>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Enrollments and Completion by State/District">
            <app-nishitha-table lastLevel="district"></app-nishitha-table>
        </mat-tab>
        <mat-tab label="Enrollments and Completion by State/Course Name" *ngIf="NVSK">
            <app-nishitha-table lastLevel="course"></app-nishitha-table>
        </mat-tab>
        <mat-tab label="% Enrollment and Completion of expected" *ngIf="NVSK">
            <div class=" grid grid-cols-1">
                <div class="col-span-full">
                    <app-nisitha-stacked-bar></app-nisitha-stacked-bar>
                </div>
            </div>
           
        </mat-tab>

    </mat-tab-group>
</div>