#period {
     margin-top: 20px;
    //     margin-bottom: 4px;
     padding: 7px;
    color: white;
    border-radius: 6px;
    font-size: 12px !important;
    font-weight: bold;
    background: #004e9d;
}

.metric-card-wrapper {
    padding: 30px;
    background-color: white;

    .h4 {
        font-weight: bold;
        color: #67bbe1;
    }
}

.tab-group-wrapper {
    margin-top: 10px;
    padding: 30px;
    background-color: white;
}