export const environment = {
  production: false,
  apiURL: "{{ protocol }}://{{ api_endpoint }}/api",
  appUrl: "{{ protocol }}://{{ api_endpoint }}",
  loginUrl: "{{ protocol }}://{{ api_endpoint }}/login-api",
  adminUrl: "{{ protocol }}://{{ api_endpoint }}",
  adminUrl2: "{{ protocol }}://{{ api_endpoint }}/session",
  keycloakUrl: "{{ protocol }}://{{ api_endpoint }}/auth",
  realm: "{{ realm_name }}",
  clientId: "{{ angular_app_client_id }}",
  config: "{{ access_type }}",
  stateCode: "{{ state_code }}",
  stateName: "{{ state_name }}",
  diksha_columns: {% if diksha_columns == True %}true{% endif %}{% if diksha_columns == False %}false{% endif %},
  mapName: "{{ map_name }}",
  theme: "{{ theme }}",
  report_viewer_config_otp: {% if report_viewer_config_otp == True %}true{% endif %}{% if report_viewer_config_otp == False %}false{% endif %},
  progressCardConfig: ['{{ slab1 }}', '{{ slab2 }}', '{{ slab3 }}', '{{ slab4 }}'],
  auth_api: "{{ auth_api }}",
  adminApiEndPoint: "https://{{ api_endpoint }}/admin_api",
  apiEndpoint: "https://{{ api_endpoint }}/core_api",
  water_mark: "false",
  secretKey: 'VSK_EKSTEP',
  loginObj: {
    title: "State Vidya Samiksha Kendra",
    imageURL:"back_image.jpg",
    tagLine: "Shared seeing for coordinated action towards achieving outcomes and goals",
    logoURL: "cQube_logo.jpg"
  },
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'long'
    },
    keyMetrics: {
      locale: 'en-IN',
      format: 'long'
    },
    vanityMetrics: {
      locale: 'en-IN',
      format: 'long'
    }
  }
};
