.dashboard-card {
    max-width: 350px;
    box-shadow: 0 0 3px #aaa;
    background: #fff;

    .dashboard-card-body {
        min-height: 80px;

        .metrics-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    .dashboard-card-footer {
        color: white;
        display: flex;
        justify-content: space-between;

        .pointer-icon {
            height: 25px;
        }
    }
}