<div>
    <div class="dashboard-card shadow-2xl px-3 py-3 mx-auto md:grid-cols-6" *ngIf="cardInfo">
        <div class="dashboard-card-header py-3">
            <h3 class="font-medium text-1xl md:text-2xl">{{cardInfo.title}}</h3>
        </div>
        <div class="dashboard-card-body py-2">
            <div class="metrics-wrapper">
                <div class="metric-wrapper" *ngFor="let metric of cardInfo.metrics">
                    <p>{{metric.name}}</p>
                    <p>{{metric.value}}</p>
                </div>
            </div>
        </div>
        <div class="dashboard-card-footer bg-sky-800 p-2 -ml-3 -mb-3 -mr-3">
            <h3>Access Dashboard</h3>
            <a [routerLink]="cardInfo.navigationURL"><img class="pointer-icon" src="/assets/images/handimage1.png"
                    alt=""></a>
        </div>
    </div> 
</div>