.dashboard-card {
    max-width: 350px;
    box-shadow: 0 0 3px #aaa;
    background: #fff;
    padding: 0 !important;

    .dashboard-card-header {
        margin: 16px;
    }

    .dashboard-card-body {
        padding: 16px;
        min-height: 80px;

        .metrics-wrapper {
            display: flex;
            justify-content: space-around;
        }
        .metrics-wrapper .metric-value{
            font-weight: 600;
            font-size: 14px;
        }
        .metrics-wrapper .metric-name{
            font-size: 16px;
        }
    }

    .dashboard-card-footer {
        margin: 16px;
        color: white;
        display: flex;
        justify-content: space-between;

        .pointer-icon {
            height: 25px;
        }
    }
}
