<div>
    <div class="fontBar">
        <div class="flagArea"><img title="भारत सरकार | Government of India" src="https://diksha.gov.in/assets/diksha-mission/Flag_of_India.svg"  width="32" alt="भारत सरकार | Government of India">
            <span data-translate="govofIndia">भारत सरकार | Government of India</span></div>

        <div class="btnGroup">
        <button type="button" [attr.aria-pressed]="false" tabindex="0" attr.aria-label="A-"
            class="fontResizeBtn fontResizeBtn_A-" title="Decrease font size" (click)="changeFontSize('decrease');"
            #decreaseFontSize>A-</button>
        <button [attr.aria-pressed]="false" type="button" tabindex="0" attr.aria-label="A"
            class="fontResizeBtn fontResizeBtn_A" title="Default Font size" (click)="changeFontSize('reset');" #resetFontSize>A</button>
        <button [attr.aria-pressed]="false" type="button" tabindex="0" attr.aria-label="A+"
            class="fontResizeBtn fontResizeBtn_A+" title="Increase font size" (click)="changeFontSize('increase');"
            #increaseFontSize>A+</button>
        <i class="fa fa-sign-out" aria-hidden="true" (click)="signOut()"></i>
        <!-- <button id="dark-mode-toggle" class="dark-mode-toggle" tabindex="0"
             title="{{resourceService?.frmelmnts?.lbl?.accessibilitytheme}}" (click)="changeTheme()"
             (keydown.enter)="changeTheme();" #darkModeToggle>
             <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
               <path fill="var(--white)"
                 d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
                 transform="translate(-8 -8)" />
             </svg>
           </button> -->
        </div>
    </div>
    <app-header></app-header>
    <app-side-nav [menu]="menu"></app-side-nav>
    <div class="app-content-wrapper">
        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>