/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@ng-select/ng-select/themes/material.theme.css";
@import './assets/styles/styles.scss';
@import '~@project-sunbird/sb-themes/themes/theme-cqube.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif;}
sb-cqube-info-card .sb-cQ-card {
    height: 6.25rem !important;
}
