<div class="metric-card-wrapper">
    <p class="h4">NAS</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container *ngIf="NASMetrics">
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of NASMetrics">
                <!--<app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip">
                </app-metric-card>-->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="State Wise Performance ">
            <div class="grid grid-cols-1">
                <div class="col" *ngIf="NasStateData">
                    <div class="grid grid-cols-12">
                        <div class="col-span-full" appFullScreen>
                            <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
                            <app-material-button-group [buttons]="levels" (select)="onSelectLevel($event)"></app-material-button-group>
                            <app-leaflet-map [mapData]="NasStateData" [level]="level"></app-leaflet-map>
                            <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
                        </div>
                    </div>
                </div>
                <div class="col" *ngIf="isMapReportLoading">
                    <p class="mt-8">Loading...</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Grade & Subject performance">
            <app-student-learning-survey-program></app-student-learning-survey-program>
        </mat-tab>
        <mat-tab label="Grade & Subject correlation">
            <app-performance-comparision-by-grade-subject></app-performance-comparision-by-grade-subject>
        </mat-tab>
    </mat-tab-group>
</div>