<div class="metric-card-wrapper">
    <p class="h4">NAS</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container *ngIf="NASMetrics">
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of NASMetrics">
                <!--<app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip">
                </app-metric-card>-->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Student Performance">
            <div class="grid grid-cols-1">
                <div class="col" *ngIf="NasStateData">
                    <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
                    <app-map-my-india [data]="NasStateData" [state]="selectedState"></app-map-my-india>
                </div>
                <div class="col" *ngIf="isMapReportLoading">
                    <p class="mt-8">Loading...</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="LO Table">
            <app-filter-panel></app-filter-panel>
            <app-nas-program></app-nas-program>
        </mat-tab>
        <mat-tab label="Grade and Subject performance">
            <app-filter-panel></app-filter-panel>
            <app-scatter-chart></app-scatter-chart>
        </mat-tab>
    </mat-tab-group>
</div>