body {
    background: #e6e8e5!important;
}

.mat-tab-body-wrapper {
    padding: 10px 0;
}

.metric-card-wrapper{
    padding: 10px;
    background-color: white;
    .h4{
        font-weight: bold;
        color: #67bbe1;
    }
}

.tab-group-wrapper{
    margin-top: 10px;
    padding: 30px;
    background-color: white;
}

.full-screen:fullscreen {
    overflow: hidden auto;
    background: white;
}

.leaflet-container {
    font-size: 0.75rem;
}

// .highcharts-tooltip text, .highcharts-tooltip text tspan {
//     font-size: 2rem;
// }

@media(min-width: 1920px) {
    .leaflet-container {
        font-size: 1rem;
    }

    .leaflet-control-container {
        a {
            .leaflet-control-zoom-in, .leaflet-control-zoom-out {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 2rem;
            }
        }
    }
}

@media(min-width: 2048px) {
    .leaflet-container {
        font-size: 1rem;
    }

    .leaflet-control-container {
        a {
            .leaflet-control-zoom-in, .leaflet-control-zoom-out {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 2.25rem;
            }
        }
    }
}

@media(min-width: 2560px) {
    .leaflet-container {
        font-size: 1.5rem;
    }

    .leaflet-control-container {
        a {
            &.leaflet-control-zoom-in, &.leaflet-control-zoom-out {
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: 2.5rem;
            }
        }
    }
}

@media(min-width: 3840px) {
    .leaflet-container {
        font-size: 2rem;
    }

    .leaflet-control-container {
        a {
            &.leaflet-control-zoom-in, &.leaflet-control-zoom-out {
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 3rem;
            }
        }
    }
}

@media(min-width: 4096px) {
    .leaflet-container {
        font-size: 2.5rem;
    }

    .leaflet-control-container {
        a {
            &.leaflet-control-zoom-in, &.leaflet-control-zoom-out {
                width: 100px;
                height: 100px;
                line-height: 100px;
                font-size: 3.5rem;
            }
        }
    }
}
