<div class="metric-card-wrapper">
    <p class="h4">NIPUN BHARATH</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container *ngIf="nipunBharathMetricsData">
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of nipunBharathMetricsData">
                <app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip">
                </app-metric-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="Development Goals content">
            <app-filter-panel></app-filter-panel>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <app-nipunbharath-bar-pie></app-nipunbharath-bar-pie>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Development goal wise resource">
            <app-filter-panel></app-filter-panel>
            <div class="">
                <div class="col">
                    <div class="">
                        <div class="">
                            <app-development-goal-bar></app-development-goal-bar>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Grade wise contents">
            <app-filter-panel></app-filter-panel>
            <app-grade-wise-bar-and-pie></app-grade-wise-bar-and-pie>
        </mat-tab>
        <mat-tab label="Grade wise  consumption/resource">
            <app-filter-panel></app-filter-panel>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <app-garde-wise-resource></app-garde-wise-resource>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="% Enrollment and Completion of expected" *ngIf="NVSK">
            <app-filter-panel></app-filter-panel>
            <div class="col-sm-3 ">
                <select id="period" [(ngModel)]="version" (change)="onVersionSelect()">
                    <option [value]="version" disabled selected="selected">Choose Version</option>
                    <option *ngFor="let version of nishithaVersion,  let i =index" style="width: 100px;" [ngValue]="version.key">
                        {{version.value}}
                    </option>
                </select>
            </div>
            <div class=" grid grid-cols-1 md:grid-cols-2">
                <div class="col-span-1">
                    <app-nisitha-stacked-bar></app-nisitha-stacked-bar>
                </div>
                <div class="col-span-1">
                    <app-nisitha-stacked-bar></app-nisitha-stacked-bar>
                </div>
            </div>
           
        </mat-tab> -->

    </mat-tab-group>
</div>