<div class="metric-card-wrapper">
    <p class="h4">School Infrastructure</p>
    <div class="grid gap-4 cQ-Grid">
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Infrastructure Access by Location">
            <app-infra-map *ngIf="tabIndex === 0"></app-infra-map>
        </mat-tab>
        <mat-tab label="Infrastructure Composite Report">
            <app-infra-composite *ngIf="tabIndex === 1"></app-infra-composite>
        </mat-tab>
        <mat-tab label="UDISE Report">
            <app-udise-report *ngIf="tabIndex === 2"></app-udise-report>
        </mat-tab>
    </mat-tab-group>
</div>