<div style="overflow: auto hidden;">
    <table mat-table [dataSource]="dataSource" matSort tableHeatMap [matSortActive]="matSortActive" [matSortDirection]="matSortDirection" (contentChanged)="contentChanged()">
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}. </td>
        </ng-container> -->
        <ng-container [matColumnDef]="column.property" [sticky]=" i === 0 || i === 1 || i === 2" *ngFor="let column of columns; let i = index">
            <ng-container *ngIf="column.isHeatMapRequired; else default">
                <th [ngClass]="'heat-chart-column'" [style.position]="i < 3 ? 'sticky' : null" mat-header-cell *matHeaderCellDef mat-sort-header [tableHeatMapColumn]="{color: column.color}" [id]="i" class="text-center text-neutral-600 xmd:text-sm md:text-md">{{ column.name }}</th>
                <td mat-cell *matCellDef="let element" [tableHeatMapCell]="element[column.property].value" [id]="i" class="text-center xmd:text-sm md:text-md">{{element[column.property].value !== null || element[column.property].value !== undefined ? element[column.property].value : 'No data'}}</td>
            </ng-container>
            
            <ng-template #default>
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.property" class="text-neutral-600 xmd:text-sm md:text-md">{{ column.name }}</th>
                <td mat-cell *matCellDef="let element" class="xmd:text-sm md:text-md" [ngClass]="column?.class">
                    <ng-container *ngIf="element[column.property].tooltip; else noTooltip" class="cellTooltip">
                        <span placement="top" [tooltip]="element[column.property].tooltip">
                            {{element[column.property].value}}
                        </span>
                        <!-- <span #tooltip="matTooltip"
                                [matTooltip]="element[column.property].tooltip"
                                [matTooltipPosition]="'right'"
                                matTooltipHideDelay="1000000"
                                aria-label="Span that displays a tooltip that hides when scrolled out of the container"
                                class="example-button">
                                {{element[column.property].value}}
                        </span> -->
                    </ng-container>
                    <ng-template #noTooltip>
                        {{element[column.property].value}}
                    </ng-template>
                </td>
            </ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnProperties; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnProperties; let i = index"></tr>
    </table>
</div>
