<div class="metric-card-wrapper">
    <p class="h4">PM Poshan</p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container *ngIf="pmposhanMetricsData">
            <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of pmposhanMetricsData">
                <!-- <app-metric-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip">
                </app-metric-card> -->
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltip]="metric?.tooltip"></sb-cqube-info-card>
            </div>
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab label="States Onboarded" *ngIf="NVSK">
            <app-map-my-india [data]="pmPoshanStateOnboardedData" [state]="state"></app-map-my-india>
        </mat-tab>
        <mat-tab label="PM Poshan access across India">
            <div class="grid grid-cols-1">
                <div class="col">
                    <app-filter-panel [filters]="filters" (filtersUpdated)="filtersUpdated($event)"></app-filter-panel>
                    <br>
                    <app-map-my-india [data]="pmPoshanStateData" [state]="state"></app-map-my-india>
                    
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>



