#map {
    height: 90vh;
}
::ng-deep{
    .leaflet-pane {
        z-index: 1002 !important;
    }
    .leaflet-tooltip{
        // word-break: break-word;
        min-width: fit-content !important;
    }
}