<div class="wrapper" *ngIf="filters && filters.length > 0">
    <div class="grid grid-cols-2 md:grid-cols-6 filter-panel-wrapper">
        <ng-container *ngFor="let filter of filters">
            <div class="col-span-1 filter-wrapper">
                <ng-select class="mx-2" placeholder="Select {{filter.name}}">
                    <ng-option disabled="true">Select {{filter.name}}</ng-option>
                    <ng-option *ngFor="let option of filter.options" [value]="option.value">{{ option.name }}</ng-option>
                </ng-select>
            </div>
        </ng-container>
    </div>
</div>