.wrapper{
    margin: 20px 0px;

    .filter-panel-wrapper{
        background-color: rgb(245, 245, 245);
        padding: 20px;

        .download{
            background-color:#004e9d;
            color: white;
        }
        .filter-wrapper{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
::ng-deep{
    .ng-select-container{
        border-radius: 10px !important;
        border-color: #004e9d !important;
    }
    .ng-placeholder{
        color:#004e9d;
    }
}
