@media(max-width:435px){
    .leading-tight{
        padding: none;
        margin-left: 20px;
        font-size: 10px;
        text-align: center;
    }
    .fa{
        padding: none !important;
        margin:none;
        margin-left: 10px;
    }

    .logo{
        margin-top: 10px;
        margin-left: 20px;
        height: 45px;
        width: 45px;
    }

    // .left-logo{
    //     height: 40px;
    //     width: 80px;
    // }
}
.fa{
    margin-top: 15px;
}
.user-icon{
    cursor: pointer;
    height: 35px;
    width: 35px;
}
