<div class="container-fluid" style=" height: 100%;">
  
    <div class="row" class="outer">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="cQb_dhsbrd_outer">
                        <button id="cQb_dhsbrd" class="btn " [routerLink]="['/dashboard']">cQube
                            Dashboard</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="admin_console_outer">
                     
                        <a type="button" id="admin_console" (click)="submit()" class="btn btn-deafult">
                            Admin Console
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="spinner" style="display: none;">
    <div id="loader" class="loading">Loading&#8230;</div>
</div>