<div class="report-wrapper" appFullScreen>
    <div class="container-fluid">
        <div class="row reportHeader1">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row" (window:resize)="onResize()">
                    <div class="col-xl-6">
                        <div *ngIf="skul">
                            <p id="dist">
                                Composite Report for: <span (click)=" onHomeClick()"
                                    style="cursor: pointer;text-decoration: underline;"
                                    class="selected-level">{{state}}</span></p>
                        </div>
                        <div *ngIf="dist">
                            <p id="block">
                                Composite Report for: <span (click)="onHomeClick()"
                                    style="cursor: pointer;text-decoration: underline;">{{state}}</span> <span> |
                                </span><span (click)="myDistData(distName)"
                                    style="cursor: pointer;text-decoration: underline;" class="selected-level">
                                    {{hierName}}</span> </p>
                        </div>
                        <div *ngIf="blok">
                            <p id="cluster">
                                Composite Report for: <span (click)="onHomeClick()"
                                    style="cursor: pointer;text-decoration: underline;">{{state}}</span><span> |
                                </span><span (click)="!selDist ? myDistData(distName): ''"
                                    style="cursor: pointer;text-decoration: underline;">
                                    {{titleName}}</span><span> | </span><span (click)="myBlockData(blockName)"
                                    style="cursor: pointer;text-decoration: underline;" class="selected-level">
                                    {{hierName}}</span></p>
                        </div>

                        <div *ngIf="clust">
                            <p id="school">
                                Composite Report for: <span (click)="onHomeClick()"
                                    style="cursor: pointer;text-decoration: underline;">{{state}}</span><span> |
                                </span><span (click)="!selDist ? myDistData(distName): ''"
                                    style="cursor: pointer;text-decoration: underline;">
                                    {{titleName}}</span><span> | </span><span
                                    (click)="!selCluster ? myBlockData(blockName) : ''"
                                    style="cursor: pointer;text-decoration: underline;">
                                    {{title}}</span><span> | </span><span class="selected-level">
                                    {{hierName}}</span></p>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-sm-2">
                                <p id="errMsg" class="note">
                                </p>
                            </div>
                            <div class="col-sm-10">
                                <div *ngIf="skul; else ng_else" id="select" class="grid grid-cols-2">
                                    <div class="dwnld sm:col-span-1 col-span-2">
                                        <ng-select *ngIf="xAxisFilter && xAxisFilter.length>0 " class="dwnld col-span-1"
                                            dropdownPosition="bottom" [clearable]="false" placeholder="Choose Report"
                                            [(ngModel)]="downloadType">
                                            <ng-option *ngFor="let md of modes, let i = index" [value]="modes[i]">
                                                {{md}} Report
                                            </ng-option>
                                        </ng-select>
                                    </div>

                                    <div class="sm:col-span-1 col-span-2 mb-4">
                                        <button *ngIf="xAxisFilter && xAxisFilter.length>0" class="btn btn-primary"
                                            style="float: right;" title="Download Report" id="download1" 
                                            (click)="downloadReportofState(downloadType)">Download Report &nbsp; <i
                                                class="fa fa-arrow-down" aria-hidden="true"></i>
                                        </button>
                
                                    </div>
                                </div>

                                <ng-template #ng_else>
                                    <button  *ngIf="xAxisFilter && xAxisFilter.length>0" class="btn btn-primary"
                                        style="float: right;" title="Download Report" id="download1" (click)="downloadReport()">Download
                                        Report
                                        &nbsp; <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                    </button>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="note">
                            <strong> About the dashboard:</strong> The dashboard here provides insights on selected
                            infrastructure
                            metrics. A key feature of this dashboard is its ability to Zoom In and Out at various
                            administrative
                            levels. The administrative levels include District, Block and Cluster. This has been done to
                            provide
                            relevant insights at the appropriate administrative level. In addition to visualising data,
                            the
                            dashboard also gives you the ability to download the data at various administrative levels.
                            This
                            feature
                            has been enabled to provide freedom to power users to derive additional insights that may
                            not be
                            captured in this dashboard. You can download the data using the dropdown option on the top
                            right
                            corner.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reportContainer1 grid grid-cols-2 gap-4">
            <div class="lg:col-span-1 col-span-2 mt-3">
                <div class="row">
                    <div class="col-sm-6 ">
                        <ng-select class="col-span-2 sm:col-span-1" id="choose_infra" dropdownPosition="bottom"
                            [clearable]="false" placeholder="Choose x-axis" (change)="selectAxis()" [(ngModel)]="xAxis">
                            <ng-option *ngFor="let xaxis of xAxisFilter" [value]="xaxis.key">{{ xaxis.value }}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-sm-6 ">
                        <ng-select class="col-span-2 sm:col-span-1" id="choose_infra" dropdownPosition="bottom"
                            [clearable]="false" placeholder="Choose y-axis" (change)="selectAxis()" [(ngModel)]="yAxis">
                            <ng-option *ngFor="let yaxis of yAxisFilter" [value]="yaxis.key">{{ yaxis.value }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>


                <div class="grid grid-cols-3 gap-4">
                    <div class="col-span-full md:col-span-1">
                        <ng-select class="col-span-3 sm:col-span-1" id="choose_dist" dropdownPosition="bottom"
                            [clearable]="false" [hidden]="distHidden" [disabled]="selDist"
                            placeholder="Choose a District" (change)="myDistData(myDistrict)" [(ngModel)]="myDistrict">
                            <ng-option *ngFor="let dist of SchoolInfrastructureDistrictsNames"
                                [value]="dist.district.id">{{
                                dist.district.value }}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-full md:col-span-1">
                        <ng-select [hidden]="blockHidden" [disabled]="selBlock" class="col-span-3 sm:col-span-1"
                            id="choose_block" dropdownPosition="bottom" [clearable]="false" placeholder="Choose a Block"
                            (change)="myBlockData(myBlock)" [(ngModel)]="myBlock">
                            <ng-option *ngFor="let block of SchoolInfrastructureBlocksNames" [value]="block.block.id">
                                {{block.block.value}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div class="col-span-full md:col-span-1">
                        <ng-select [hidden]="clusterHidden" [disabled]="selCluster" id="choose_cluster"
                            [(ngModel)]="myCluster" class="col-span-3 sm:col-span-1" name="myCluster"
                            (change)="myClusterData(myCluster)" [clearable]="false" placeholder="Choose a Cluster">
                            <ng-option *ngFor="let cluster of SchoolInfrastructureClusterNames"
                                [value]="cluster.cluster.id"
                                [ngStyle]="{'color': cluster.cluster.value !== 'NO NAME FOUND'? 'white' : '#ff3333'}">
                                {{cluster.cluster.value}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>

                <p class="note" style="padding-top: 10px !important;">
                    <strong> NOTE:</strong> The scatter plot below provides information for the metrics selected in the
                    dropdown above. You can
                    alter the metrics to update the scatter plot.
                </p>
                <div class="row" class="fullW">
                    <!-- <canvas id="myChart" width="100vw"></canvas> -->
                    <ng-container *ngIf="dashletData?.values?.length > 0">
                        <sb-dashlet type="scatter" [data]="dashletData" [config]="config"></sb-dashlet>
                    </ng-container>
                </div>
            </div>
            <div class="lg:col-span-1 col-span-2 mt-3">
                <p class="note" style="padding-top: 10px !important;">
                    <strong> NOTE:</strong> The table provides information about the various metrics. You can sort the
                    entire table based on any metrics available in this table.
                </p>
                <div id="myDiv">
                    <table #dataTable id="table" class="display responsive cell-border">
                    </table>
                </div>
            </div>

        </div>
        <div id="spinner" style="display: block;">
            <div id="loader" class="loading">Loading&#8230;</div>
        </div>

    </div>