<div class="metric-card-wrapper">
    <p class="h3"><b>National Curriculum Framework</b> <small><em> (NCF)</em></small></p>
    <div class="grid gap-4 xs:grid-cols-2 xmd:grid-cols-4 md:grid-cols-5 lg:grid-cols-6">
        <ng-container>
            <!-- <div class="col-span-1 xs:py-2 md:py-4" *ngFor="let metric of NCFMetrics">
                <sb-cqube-info-card [name]="metric?.name" [value]="metric?.value" [tooltipName]="metric?.tooltip">
                </sb-cqube-info-card>
            </div> -->
        </ng-container>
    </div>
</div>

<div class="tab-group-wrapper">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (focusChange)="onTabChanged($event);">
        <mat-tab *ngFor="let tab of tabNames; let last = last;" [label]="tab" class="tab-first">
            <app-common-report [reportsDetails]="reportsData[tab]"></app-common-report>
            <!-- <app-common-report [reportsDetails]="reportsData[tab]"></app-common-report> -->
            <!-- <div class="grid grid-cols-1" *ngIf="ncfProgressData">
                <div class="col">
                    <div class="grid grid-cols-12" *ngIf="!isMapReportLoading; else loading">
                        <div class="col-span-full">
                            <div class="grid grid-cols-12" appFullScreen>
                                <div class="xs:col-span-full xmd:col-span-8">
                                    <app-level-n-metric-filter-panel [metricFilter]="metricFilter"
                                        (selectMetricFilter)="onSelectMetricFilter($event)">
                                    </app-level-n-metric-filter-panel>
                                </div>
                                <div class="col-span-full">
                                    <app-leaflet-map [mapData]="ncfProgressData"></app-leaflet-map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #loading>
                        <p class="mt-8">Loading...</p>
                    </ng-template>
                </div>
            </div> -->
        </mat-tab>

    </mat-tab-group>
</div>